extends ./layout.jade

block content
    #app

block scripts
    //- 
        Making the google id_token available for apps,
        until we get a better solution for auth.
    script(type='text/javascript').
        var id_token = '#{id_token}';
    script(src='#{script}')
