extends ./layout.jade

block content
    .main-content.content-box
        h3 Tilgjengelige apps
        ul
            each app in apps
                li
                    a(href=app.short_name)= app.name
