doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Blank - #{title}

        link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.1.3/material.indigo-pink.min.css')
        link(rel='stylesheet', href='/static/styles.css')

    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row
                    .mdl-layout-spacer
                    span.mdl-layout-title #{title}

            .mdl-layout__drawer
                .mdl-layout-title Meny
                nav.mdl-navigation
                    each app in apps
                        if app.type == 'external'
                            a.mdl-navigation__link(href='#{app.url}', class='#{app.type}', target='_blank', rel='noopener noreferrer')=app.name
                        else
                            a.mdl-navigation__link(href='/#{app.short_name}', class='#{app.type}')=app.name

            main.mdl-layout__content
                block content

        script(src='https://storage.googleapis.com/code.getmdl.io/1.1.3/material.min.js')
        script(src='https://use.typekit.net/dih0gem.js')
        script.
          try{Typekit.load({async:true});}catch(e){ console.log(e) }
        block scripts
