doctype html
html
    head
        title Blank - #{title}
        link(type='text/css', rel='stylesheet', href='/static/style.css')
    body
        .header
            a(href='/')
                img#logo(src='/static/BlankLogo-02.svg', alt='Blank Logo')
            h2.floatright #{title}

        .container
            block content

        block scripts
