doctype html
html(lang='en')
    head
        include head

    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row
                    .mdl-layout-spacer
                    span.mdl-layout-title #{title}

            .mdl-layout__drawer
                .mdl-layout-title Meny
                nav.mdl-navigation
                    each app in apps
                        if app.type == 'external'
                            a.mdl-navigation__link(href='#{app.url}', class='#{app.type}', target='_blank', rel='noopener noreferrer')=app.name
                        else
                            a.mdl-navigation__link(href='/#{app.short_name}', class='#{app.type}')=app.name

            main.mdl-layout__content
                block content

        script(src='https://storage.googleapis.com/code.getmdl.io/1.1.3/material.min.js')
        script(src='https://use.typekit.net/dih0gem.js')
        script.
          try{Typekit.load({async:true});}catch(e){ console.log(e) }
        block scripts
