doctype html
html
    head
        meta(name='google-signin-client_id', content='1085640931155-0f6l02jv973og8mi4nb124k6qlrh470p.apps.googleusercontent.com')
        meta(name='targetLocation', content=to, id='targetLocation')
    body
        h1 Login
        #goog-signin-button

        // Minify this
        script(src='/static/login.js')
        script(src='https://apis.google.com/js/platform.js?onload=renderButton', async, defer)
