doctype html
html
    head
        meta(name='targetLocation', content=to, id='targetLocation')
    body
        h1 Login
        #goog-signin-button

        // Minify this
        script(src='/static/login.js')
        script(src='https://apis.google.com/js/platform.js?onload=renderButton', async, defer)
