doctype html
html
    head
        meta(name='google-signin-client_id', content='1085640931155-0f6l02jv973og8mi4nb124k6qlrh470p.apps.googleusercontent.com')
    body
        h1 Login
        #goog-signin-button

        // Minify this
        script(type='text/javascript').
            function onSuccess(googleUser) {
                // POST session to backend, which does the redirect.
                var form = document.createElement('form');
                form.setAttribute('method', 'POST');
                form.setAttribute('action', '/login');

                var token_field = document.createElement('input');
                token_field.setAttribute('type', 'hidden');
                token_field.setAttribute('name', 'id_token');
                token_field.setAttribute('value', googleUser.getAuthResponse().id_token);

                form.appendChild(token_field);

                document.body.appendChild(form);
                form.submit();
            }

            function onFailure(error) {
                // TODO: Show error to user.
                console.log(error);
            }

            function renderButton() {
                gapi.signin2.render('goog-signin-button', {
                    'scope': 'profile',
                    'width': 250,
                    'height': 50,
                    'longtitle': true,
                    'theme': 'light',
                    'onsuccess': onSuccess,
                    'onfailure': onFailure
                });
            }
        script(src='https://apis.google.com/js/platform.js?onload=renderButton', async, defer)
