doctype html
html
    head
        //- include head

        meta(name='targetLocation', content=to, id='targetLocation')

        title Floq


    body
        h3 Unauthorized
        pre #{error}
        
        #goog-signin-button

        // Minify this
        script(src='/static/login.js')
        script(src='https://apis.google.com/js/platform.js?onload=renderButton', async, defer)

        